<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <div class="mb15 bar-chart" fxFlex.gt-sm="49">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas #ExtraBarCharts></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="mb15 bar-chart" fxFlex.gt-sm="49">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Customized Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas #CustomizedBarChart></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="mb15 bar-chart" fxFlex.gt-sm="49">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Line Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas #StatisticLineChart></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>