<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <app-bar-chart class="mb15" fxFlex.gt-sm="49"></app-bar-chart>
    <app-donut-chart class="mb15" fxFlex.gt-sm="49"></app-donut-chart>
    <app-pie-chart class="mb15" fxFlex.gt-sm="49"></app-pie-chart>
    <app-line-chart class="mb15" fxFlex.gt-sm="49"></app-line-chart>
    <app-polar-chart class="mb15" fxFlex.gt-sm="49"></app-polar-chart>
    <app-radar-chart class="mb15" fxFlex.gt-sm="49"></app-radar-chart>
</div>
<app-extra-chart></app-extra-chart>